<p id="notice"><%= notice %></p>

<h1>Ted Readers</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ted_readers.each do |ted_reader| %>
      <tr>
        <td><%= ted_reader.hostname %></td>
        <td><%= link_to 'Show', ted_reader %></td>
        <td><%= link_to 'Edit', edit_ted_reader_path(ted_reader) %></td>
        <td><%= link_to 'Destroy', ted_reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Ted Reader', new_ted_reader_path %>
