<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @ted_reader.hostname %>
</p>
<p>
  <strong>Current voltage:</strong>
  <%= "#{@current_voltage}" %><br />
  <strong>Current power:</strong>
  <%= "#{@current_power}" %><br />
  <strong>Current kilovolt-amperes:</strong>
  <%= "#{@current_kva}" %><br />
</p>

<p>
  <strong>Last Reading ID:</strong>
  <%= Reading.last.id %><br />
  <strong>Updated at:</strong>
  <%= Reading.last.updated_at %><br />
</p>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= area_chart Reading.group_by_day(:created_at).maximum(:kva) %>

<%= link_to 'Edit', edit_ted_reader_path(@ted_reader) %> |
<%= link_to 'Back', ted_readers_path %>
