<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @ted_reader.hostname %>
</p>
<p>
  <strong>Last voltage:</strong>
  <%= Reading.count > 0 ? Reading.last.voltage : 0 %><br />
  <strong>Last power:</strong>
  <%= Reading.count > 0 ? Reading.last.power : 0 %><br />
  <strong>Last kilovolt-amperes:</strong>
  <%= Reading.count > 0 ? Reading.last.kva : 0 %><br />
</p>

<p>
  <strong>Last Reading ID:</strong>
  <%= Reading.last.id %><br />
  <strong>Updated at:</strong>
  <%= Reading.last.updated_at %><br />
</p>

<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "application", "chartkick" %>
<%= area_chart Reading.summarized_info, {library: {hAxis: {title: "Date"}, vAxis: {title: "Power"}}}  %>

<%= link_to 'Edit', edit_ted_reader_path(@ted_reader) %> |
<%= link_to 'Back', ted_readers_path %>
